xsd/factions.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"

        >

    <xs:include schemaLocation="common.xsd"/>

    <xs:simpleType name="iconid">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z]|_)+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="icon">
        <xs:attribute name="active" type="iconid" use="required">
            <xs:annotation>
                <xs:documentation>
                    Active icon id for faction
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="inactive" type="iconid" use="required">
            <xs:annotation>
                <xs:documentation>
                    Inactive icon id for faction
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="relationrangelookup">
        <xs:annotation>
            <xs:documentation>
                Named relation range
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ally"/>
            <xs:enumeration value="dock"/>
            <xs:enumeration value="enemy"/>
            <xs:enumeration value="friend"/>
            <xs:enumeration value="kill"/>
            <xs:enumeration value="member"/>
            <xs:enumeration value="nemesis"/>
            <xs:enumeration value="neutral"/>
            <xs:enumeration value="self"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="factionrelationvalue">
        <xs:annotation>
            <xs:documentation>
                Relation value
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:float">
            <xs:minInclusive value="-1.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="factionid">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-z])+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="factionrelation">
        <xs:attribute name="faction" type="factionid">
            <xs:annotation>
                <xs:documentation>
                    Faction id for relation
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="relation" type="factionrelationvalue">
            <xs:annotation>
                <xs:documentation>
                    Relation value for relation
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="factionrelations">
        <xs:sequence>
            <xs:element name="relation" type="factionrelation" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Relation for one faction to another
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="locked" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Are relations locked? (don't change permanently)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="factionsaccount">
        <xs:attribute name="amount" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Money
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="licence">
        <xs:attribute name="type" type="licencelookup">
            <xs:annotation>
                <xs:documentation>
                    Type of licence
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Licence name (Do not use with 'faction' attribute)
                </xs:documentation>
                <xs:appinfo>
                    <edit/>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Licence description
                </xs:documentation>
                <xs:appinfo>
                    <edit/>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="icon" type="iconid">
            <xs:annotation>
                <xs:documentation>
                    Icon for licence
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="factions" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Factions which this faction holds licences of this type to (Only use with 'type' attribute)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="minrelation" type="xs:float">
            <xs:annotation>
                <xs:documentation>
                    Minimum relation the player must have with this faction to obtain this licence (Only use with 'type'
                    attribute)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="price" type="xs:float">
            <xs:annotation>
                <xs:documentation>
                    Price of the licence
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maxlegalscan" type="xs:integer">
            <xs:annotation>
                <xs:documentation>
                    Defines which up to which scan level becomes legal if licence is held
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

    <xs:complexType name="licences">
        <xs:sequence>
            <xs:element name="licence" type="licence" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Licence definition
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="factiontype">
        <xs:sequence>
            <xs:element name="account" type="factionsaccount" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Account for a faction
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="icon" type="icon" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Icons for a faction
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="licences" type="licences" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Licences for a faction
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="relations" type="factionrelations" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Relations for a faction
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="factionid" use="required">
            <xs:annotation>
                <xs:documentation>
                    Faction id
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Faction name
                </xs:documentation>
                <xs:appinfo>
                    <edit/>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Faction description
                </xs:documentation>
                <xs:appinfo>
                    <edit/>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="shortname" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Short faction name (i.e. abbreviation)
                </xs:documentation>
                <xs:appinfo>
                    <edit/>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="behaviourset" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Name of a flight behaviour set which is used by members of this race. Must correspond to an entry in
                    behaviours.xml
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="primaryrace" type="racelookup" use="required">
            <xs:annotation>
                <xs:documentation>
                    Race id
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="allowedraces" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Race id
                </xs:documentation>
                <xs:appinfo>
                    <edit type="racelookup" select="multi"/>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tags" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Tags
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="known" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Is the faction known to the player (on game start)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="factionrange">
        <xs:attribute name="range" type="relationrangelookup" use="required"/>
        <xs:attribute name="min" type="factionrelationvalue"/>
        <xs:attribute name="max" type="factionrelationvalue"/>
    </xs:complexType>

    <xs:complexType name="factions">
        <xs:sequence>
            <xs:element name="ranges" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="range" type="factionrange"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="faction" type="factiontype" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Definition of a single faction
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="factions" type="factions">
        <xs:annotation>
            <xs:documentation>
                Faction DB
            </xs:documentation>
        </xs:annotation>
    </xs:element>

</xs:schema>
