xsd/sound_library.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"

        >

    <xs:include schemaLocation="common.xsd" />

    <xs:simpleType name="filtermodelookup">
        <xs:restriction base="xs:string">
            <xs:enumeration value="lowpass"/>
            <xs:enumeration value="bandpass"/>
            <xs:enumeration value="highpass"/>
            <xs:enumeration value="notch"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="roomlookup">
        <xs:restriction base="xs:string">
            <xs:enumeration value="default"/>
            <xs:enumeration value="generic"/>
            <xs:enumeration value="padded cell"/>
            <xs:enumeration value="room"/>
            <xs:enumeration value="bath room"/>
            <xs:enumeration value="living room"/>
            <xs:enumeration value="stone room"/>
            <xs:enumeration value="auditorium"/>
            <xs:enumeration value="concert hall"/>
            <xs:enumeration value="cave"/>
            <xs:enumeration value="arena"/>
            <xs:enumeration value="hangar"/>
            <xs:enumeration value="carpeted hallway"/>
            <xs:enumeration value="hallway"/>
            <xs:enumeration value="stone corridor"/>
            <xs:enumeration value="alley"/>
            <xs:enumeration value="forest"/>
            <xs:enumeration value="city"/>
            <xs:enumeration value="mountains"/>
            <xs:enumeration value="quarry"/>
            <xs:enumeration value="plain"/>
            <xs:enumeration value="parking lot"/>
            <xs:enumeration value="sewer pipe"/>
            <xs:enumeration value="underwater"/>
            <xs:enumeration value="small room"/>
            <xs:enumeration value="medium room"/>
            <xs:enumeration value="large room"/>
            <xs:enumeration value="medium hall"/>
            <xs:enumeration value="large hall"/>
            <xs:enumeration value="plate"/>
            <xs:enumeration value="drugged"/>
            <xs:enumeration value="dizzy"/>
            <xs:enumeration value="psychotic"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="sample">
        <xs:attribute name="start"/>
        <xs:attribute name="loop"/>
        <xs:attribute name="end"/>
        <xs:attribute name="lipsync"/>
    </xs:attributeGroup>

    <xs:complexType name="sample">
        <xs:annotation>
            <xs:documentation>
                Sound sample or selection of samples
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="select" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attributeGroup ref="sample"/>
                    <xs:attribute name="weight" type="xs:integer"/>
                    <xs:attribute name="index" type="xs:integer"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="sample"/>
        <xs:attribute name="selection" type="selectionlookup"/>
    </xs:complexType>

    <xs:complexType name="volumecurve">
        <xs:annotation>
            <xs:documentation>
                Sound Volume Curve
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="point" minOccurs="2" maxOccurs="4">
                <xs:complexType>
                    <xs:attribute name="distance" type="xs:float"/>
                    <xs:attribute name="volume" type="xs:float"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="volume">
        <xs:annotation>
            <xs:documentation>
                Sound volume
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="volumecurve" type="volumecurve" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lfecurve" type="volumecurve" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lpfdirectcurve" type="volumecurve" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lpfreverbcurve" type="volumecurve" minOccurs="0" maxOccurs="1"/>
            <xs:element name="reverbcurve" type="volumecurve" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="start" type="xs:float"/>
        <xs:attribute name="loop" type="xs:float"/>
        <xs:attribute name="end" type="xs:float"/>
        <xs:attribute name="distance" type="xs:float"/>
    </xs:complexType>

    <xs:complexType name="effects">
        <xs:all>
            <xs:element name="doppler" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="factor" type="xs:float"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="fade" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="in" type="xs:float"/>
                    <xs:attribute name="out" type="xs:float"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="filter" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="mode" type="filtermodelookup"/>
                    <xs:attribute name="frequency" type="xs:float"/>
                    <xs:attribute name="oneoverq" type="xs:float"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="reverb" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="room" type="roomlookup"/>
                    <xs:attribute name="roomsize" type="xs:float"/>
                    <xs:attribute name="drymix" type="xs:float"/>
                    <xs:attribute name="density" type="xs:float"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="pitch" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="start" type="xs:float"/>
                    <xs:attribute name="end" type="xs:float"/>
                    <xs:attribute name="steps" type="xs:unsignedShort"/>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:attributeGroup name="random_noise">
        <xs:attribute name="interval" type="xs:float">
            <xs:annotation>
                <xs:documentation>
                    Average interval between random background noise samples (actual intervals are random with
                    exponential distribution)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:simpleType name="taglist">
        <xs:list>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="damaged"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:list>
    </xs:simpleType>

    <xs:complexType name="random_noise">
        <xs:sequence>
            <xs:element name="override" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attributeGroup ref="random_noise"/>
                    <xs:attribute name="tags" use="required" type="taglist"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="random_noise"/>
    </xs:complexType>

    <xs:complexType name="sound">
        <xs:annotation>
            <xs:documentation>
                Sound definition
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="sample" type="sample" minOccurs="1" maxOccurs="1"/>
            <xs:element name="volume" type="volume" minOccurs="0" maxOccurs="1"/>
            <xs:element name="effects" type="effects" minOccurs="0" maxOccurs="1"/>
            <xs:element name="random_noise" type="random_noise" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique sound ID
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Sound description
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tag" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Connection tag where the sound should be played
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="repeat">
            <xs:annotation>
                <xs:documentation>
                    How often is playback executed?
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:short">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:short">
                            <xs:enumeration value="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Play sound once (default)
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="-1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Infinite loop
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="is3d" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    This sound needs 3D control
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isunique" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    This sound can only be played one at a time
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="preload" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    This sound should be preloaded on gamestart
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="amount" type="xs:unsignedShort">
            <xs:annotation>
                <xs:documentation>
                    Maximum/simultaneous number of active Sounds
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="soundlibrary">
        <xs:annotation>
            <xs:documentation>
                Sound library document node
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sound" type="sound" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="sound_id">
            <xs:selector xpath="sound"/>
            <xs:field xpath="@id"/>
        </xs:key>
    </xs:element>

</xs:schema>
