projects/java/generated/src/main/xsd/components.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2014 sp1 (x64) (http://www.altova.com)-->
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xrebirth.egosoft.com/components"
        xmlns="http://xrebirth.egosoft.com/components"
        elementFormDefault="qualified"
        >

    <xs:element name="components" type="componentsType"/>

    <xs:complexType name="componentType">
        <xs:complexContent>
            <xs:extension base="namedType">
                <xs:all>
                    <xs:element name="offset" type="offsetType" minOccurs="0"/>
                    <xs:element name="model" type="modelType" minOccurs="0"/>
                    <xs:element name="size" type="sizeType" minOccurs="0"/>
                    <xs:element name="layer" type="layerType" minOccurs="0"/>
                    <xs:element name="layers" type="layersType" minOccurs="0"/>
                    <xs:element name="connections" type="connectionsType" minOccurs="0"/>
                    <xs:element name="properties" type="propertiesType" minOccurs="0"/>
                    <xs:element name="source" type="sourceType" minOccurs="0"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="connectionType">
        <xs:choice minOccurs="0" maxOccurs="3">
            <xs:element name="offset" type="offsetType" minOccurs="0" maxOccurs="1"/>
            <xs:sequence>
                <xs:element name="animations" type="animationsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="parts" type="partsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="waypoints" type="waypointsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="restrictions" type="restrictionsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="camera" type="cameraType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="group" use="optional"/>
        <xs:attribute name="groups" use="optional"/>
        <xs:attribute name="optional" type="xs:integer"/>
        <xs:attribute name="parent" use="optional"/>
        <xs:attribute name="tags" use="optional"/>
        <xs:attribute name="value" type="xs:integer"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="class" type="xs:string" use="optional"/>
    </xs:complexType>


    <xs:complexType name="propertiesType">
        <xs:all>
            <xs:element minOccurs="0" name="dock">
                <xs:complexType>
                    <xs:attribute name="external" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="undock">
                <xs:complexType>
                    <xs:attribute name="rotate" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="model" type="modelType" minOccurs="0"/>
            <xs:element name="cargo" type="cargoType" minOccurs="0"/>
            <xs:element name="events" type="eventsType" minOccurs="0"/>
            <xs:element name="scanner" type="scannerType" minOccurs="0"/>
            <xs:element name="boneroot" type="namedType" minOccurs="0"/>
            <xs:element name="skeleton" type="skeletonType" minOccurs="0"/>
            <xs:element name="animations" type="animationsType" minOccurs="0"/>
            <xs:element name="sequences" type="sequencesType" minOccurs="0"/>
            <xs:element name="emotions" type="emotionsType" minOccurs="0"/>
            <xs:element name="hull" type="hullType" minOccurs="0"/>
            <xs:element name="effects" type="effectsType" minOccurs="0"/>
            <xs:element name="sound_environment" minOccurs="0"/>
            <xs:element name="border" type="positionsType" minOccurs="0"/>
            <xs:element name="recharge" type="rechargeType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="rechargeType">
        <xs:attribute name="max" type="xs:integer" use="optional"/>
        <xs:attribute name="rate" type="xs:integer" use="optional"/>
        <xs:attribute name="delay" type="xs:float" use="optional"/>
    </xs:complexType>

    <xs:complexType name="restrictionsType">
        <xs:sequence>
            <xs:element name="restriction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="limits" type="limitsType" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="limitsType">
        <xs:sequence>
            <xs:element name="min">
                <xs:complexType>
                    <xs:attribute name="value" type="xs:decimal" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="max">
                <xs:complexType>
                    <xs:attribute name="value" type="xs:decimal" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="animationType">
        <xs:complexContent>
            <xs:extension base="referenceType">
                <xs:attribute name="end" type="xs:integer"/>
                <xs:attribute name="lookat" type="xs:integer"/>
                <xs:attribute name="start" type="xs:integer"/>
                <xs:attribute name="startsound" type="xs:integer"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="starteffect" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- parts -->

    <xs:complexType name="partType">
        <xs:all>
            <xs:element name="lods" type="lodsType" minOccurs="0"/>
            <xs:element name="size" type="sizeType" minOccurs="0"/>
            <xs:element name="size_raw" type="sizeType" minOccurs="0"/>
            <xs:element name="offset" type="offsetType" minOccurs="0"/>
            <xs:element name="pivot" type="pivotType" minOccurs="0"/>
            <xs:element name="uv_animations" type="uv_animationsType" minOccurs="0"/>
            <xs:element name="lights" type="lightsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="trailemitters" type="emittersType" minOccurs="0"/>
            <xs:element name="effectemitters" type="emittersType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="particleemitters" type="emittersType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sounds" type="soundsType" minOccurs="0" maxOccurs="1"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="wreck" type="xs:string"/>
    </xs:complexType>
    <!-- parts -->

    <xs:complexType name="lodType">
        <xs:sequence>
            <xs:element name="materials" type="materialsType"/>
        </xs:sequence>
        <xs:attribute name="index" type="xs:integer" use="required"/>
    </xs:complexType>


    <xs:complexType name="pivotType">
        <xs:sequence>
            <xs:element name="offset" type="offsetType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uv_animationType">
        <xs:sequence>
            <xs:element name="uv_property" type="uv_propertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="mapchannel" type="xs:integer" use="required"/>
        <xs:attribute name="rotaroundcenter" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="uv_propertyType">
        <xs:sequence>
            <xs:element name="key" type="keyType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="controller" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="cameraType">
        <xs:sequence>
            <xs:element name="offset" type="offsetType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="focus" type="xs:integer"/>
        <xs:attribute name="fov" type="xs:decimal" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:complexType name="cargoType">
        <xs:attribute name="max" type="xs:integer" use="required"/>
        <xs:attribute name="tags" use="required"/>
    </xs:complexType>

    <xs:complexType name="eventType">
        <xs:attribute name="frame" type="xs:integer" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="param1" type="xs:integer" use="required"/>
        <xs:attribute name="param2" use="required"/>
        <xs:attribute name="param3" use="required"/>
        <xs:attribute name="param4"/>
    </xs:complexType>

    <xs:complexType name="scannerType">
        <xs:attribute name="influencelist" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="skeletonType">
        <xs:sequence>
            <xs:element name="root"/>
            <xs:element name="head"/>
            <xs:element name="righteye"/>
            <xs:element name="lefteye"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rootType">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:complexType name="sequenceType">
        <xs:sequence>
            <xs:element name="transitions"/>
        </xs:sequence>
        <xs:attribute name="behavior" type="xs:string" use="required"/>
        <xs:attribute name="next" type="xs:string"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="transitionType">
        <xs:attribute name="animation" type="xs:string" use="required"/>
        <xs:attribute name="end" type="xs:string" use="required"/>
        <xs:attribute name="start" type="xs:string" use="required"/>
        <xs:attribute name="weight" type="xs:integer"/>
    </xs:complexType>


    <xs:complexType name="hullType">
        <xs:attribute name="max" type="xs:double" use="required"/>
        <xs:attribute name="integrated" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="effectsType">
        <xs:sequence>
            <xs:element name="explosion"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="sourceType">
        <xs:attribute name="geometry" use="required"/>
    </xs:complexType>

    <xs:complexType name="waypointType">
        <xs:sequence>
            <xs:element name="links" type="linksType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="normalx" type="xs:double"/>
        <xs:attribute name="normaly" type="xs:double"/>
        <xs:attribute name="normalz" type="xs:double"/>
        <xs:attribute name="tags" use="required"/>
        <xs:attribute name="x" type="xs:double" use="required"/>
        <xs:attribute name="y" type="xs:double" use="required"/>
        <xs:attribute name="z" type="xs:double" use="required"/>
    </xs:complexType>


    <!-- layers -->

    <xs:complexType name="layerType">
        <xs:all>
            <xs:element name="waypoints" minOccurs="0" type="waypointsType"/>
            <xs:element name="lights" minOccurs="0" type="lightsType"/>
            <xs:element name="trailemitters" minOccurs="0" type="emittersType"/>
            <xs:element name="effectemitters" minOccurs="0" type="emittersType"/>
            <xs:element name="particleemitters" minOccurs="0" type="emittersType"/>
            <xs:element name="size" minOccurs="0" type="sizeType"/>
            <xs:element name="sounds" minOccurs="0" type="soundsType"/>
        </xs:all>
        <xs:attribute name="lod" type="xs:int" use="optional"/>
        <xs:attribute name="geometry" type="xs:string" use="optional"/>
    </xs:complexType>
    <!-- layers -->


    <xs:complexType name="modelType">
        <xs:complexContent>
            <xs:extension base="namedType">
                <xs:attribute name="type" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="emitterType">
        <xs:sequence>
            <xs:element name="offset" type="offsetType"/>
        </xs:sequence>
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="keyType">
        <xs:complexContent>
            <xs:extension base="rgbType">
                <xs:attribute name="frame" type="xs:integer" use="required"/>
                <xs:attribute name="in_tangent_type" type="xs:string"/>
                <xs:attribute name="out_tangent_type" type="xs:string"/>
                <xs:attribute name="value" type="xs:double"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- lights -->
    <xs:complexType name="lightsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="ambient" type="lightType"/>
            <xs:element name="box" type="lightType"/>
            <xs:element name="omni" type="lightType"/>
            <xs:element name="spot" type="lightType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="lightType">
        <xs:complexContent>
            <xs:extension base="rgbType">
                <xs:sequence minOccurs="0">
                    <xs:element name="size" minOccurs="0" type="pointType"/>
                    <xs:element name="animations" minOccurs="0" type="animationsType"/>
                    <xs:element name="lightanimations" minOccurs="0" type="lightanimationsType"/>
                    <xs:element name="offset" type="offsetType"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="intensity" type="xs:double" use="required"/>
                <xs:attribute name="lighteffect" type="xs:int" use="optional"/>
                <xs:attribute name="shadow" type="xs:int" use="optional"/>
                <xs:attribute name="trigger" type="xs:int" use="optional"/>
                <xs:attribute name="shadowrange" type="xs:double" use="optional"/>
                <xs:attribute name="range" type="xs:double" use="optional"/>
                <xs:attribute name="lenseffect" type="xs:string" use="optional"/>
                <xs:attribute name="angle" type="xs:int" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="lightanimationType">
        <xs:complexContent>
            <xs:extension base="namedType">
                <xs:sequence>
                    <xs:element name="key" type="keyType" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="controller" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- lights -->

    <!-- geomety  -->
    <xs:complexType name="sizeType">
        <xs:sequence>
            <xs:element name="max" minOccurs="0" type="pointType"/>
            <xs:element name="center" minOccurs="0" type="pointType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="offsetType">
        <xs:sequence>
            <xs:element name="position" minOccurs="0" type="pointType"/>
            <xs:element name="quaternion" minOccurs="0" type="quaternionType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="quaternionType">
        <xs:attribute name="qw" type="xs:double" use="required"/>
        <xs:attribute name="qx" type="xs:double" use="required"/>
        <xs:attribute name="qy" type="xs:double" use="required"/>
        <xs:attribute name="qz" type="xs:double" use="required"/>
    </xs:complexType>
    <!-- geomety  -->

    <!-- sounds -->
    <xs:complexType name="soundType">
        <xs:complexContent>
            <xs:extension base="referenceType">
                <xs:sequence>
                    <xs:element name="offset" type="offsetType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- sounds -->

    <!-- pimitives -->
    <xs:complexType name="referenceType">
        <xs:complexContent>
            <xs:extension base="namedType">
                <xs:attribute name="ref" type="xs:string" use="optional"/>
                <xs:attribute name="id" type="xs:integer" use="optional"/>
                <!--  sequence id -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="namedType">
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="class" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="rgbType">
        <xs:attribute name="r" type="xs:double"/>
        <xs:attribute name="g" type="xs:double"/>
        <xs:attribute name="b" type="xs:double"/>
    </xs:complexType>

    <xs:complexType name="pointType">
        <xs:attribute name="x" type="xs:double"/>
        <xs:attribute name="y" type="xs:double"/>
        <xs:attribute name="z" type="xs:double"/>
    </xs:complexType>
    <!-- pimitives -->

    <!-- wrappers -->
    <xs:complexType name="componentsType">
        <xs:sequence>
            <xs:element name="component" type="componentType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="connectionsType">
        <xs:sequence>
            <xs:element name="connection" type="connectionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="soundsType">
        <xs:sequence>
            <xs:element name="sound" type="soundType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="animationsType">
        <xs:sequence>
            <xs:element name="animation" type="animationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="emittersType">
        <xs:sequence>
            <xs:element name="emitter" type="emitterType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partsType">
        <xs:sequence>
            <xs:element name="part" type="partType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="layersType">
        <xs:sequence>
            <xs:element name="layer" type="layerType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lodsType">
        <xs:sequence>
            <xs:element name="lod" type="lodType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="materialsType">
        <xs:sequence>
            <xs:element name="material" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uv_animationsType">
        <xs:sequence>
            <xs:element name="uv_animation" type="uv_animationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="eventsType">
        <xs:sequence>
            <xs:element name="event" type="eventType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sequencesType">
        <xs:sequence>
            <xs:element name="sequence" type="sequenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lightanimationsType">
        <xs:sequence>
            <xs:element name="lightanimation" type="lightanimationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="transitionsType">
        <xs:sequence>
            <xs:element name="transition" type="transitionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="emotionsType">
        <xs:sequence>
            <xs:element name="emotion" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="linksType">
        <xs:sequence>
            <xs:element name="link" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="waypointsType">
        <xs:sequence>
            <xs:element name="waypoint" type="waypointType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="positionsType">
        <xs:sequence>
            <xs:element name="position" type="pointType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- wrappers -->

</xs:schema>
