projects/java/generated/src/main/xsd/text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://xrebirth.egosoft.com/text"
           xmlns="http://xrebirth.egosoft.com/text"
           elementFormDefault="qualified"
        >

    <xs:element name="language" type="language"/>

    <xs:complexType name="language">
        <xs:sequence>
            <xs:element type="textPage" name="page" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="id"/>
    </xs:complexType>

    <xs:complexType name="textPage">
        <xs:sequence>
            <xs:element type="textValue" name="t" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="title" use="optional"/>
        <xs:attribute type="xs:string" name="descr" use="optional"/>
        <xs:attribute type="xs:string" name="voice" use="optional"/>
    </xs:complexType>


    <xs:complexType name="textValue">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="id" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>