projects/java/generated/src/main/xsd/wares.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://xrebirth.egosoft.com/wares" xmlns="http://xrebirth.egosoft.com/wares">

    <xs:include schemaLocation="globaltypes.xsd"/>

    <xs:element name="wares" type="waresType"/>

    <xs:complexType name="waresType">
        <xs:sequence>
            <xs:element name="defaults" type="defaultsType"/>
            <xs:element name="ware" type="wareType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="defaultsType">
        <xs:sequence>
            <xs:element name="price" type="priceType"/>
            <xs:element name="production" type="productionType"/>
            <xs:element name="container" type="referenceType"/>
            <xs:element name="icon" type="iconType"/>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="xs:string"/>
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="size" use="required" type="xs:string"/>
        <xs:attribute name="transport" use="required" type="xs:string"/>
        <xs:attribute name="volume" use="required" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="wareType">
        <xs:sequence>
            <xs:element minOccurs="0" name="price" type="priceType"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="production" type="productionType"/>
            <xs:element minOccurs="0" name="component" type="componentType"/>
            <xs:element minOccurs="0" name="container" type="referenceType"/>
            <xs:element minOccurs="0" name="icon" type="iconType"/>
            <xs:element minOccurs="0" name="restriction" type="restrictionType"/>
        </xs:sequence>
        <xs:attribute name="amount" type="xs:integer"/>
        <xs:attribute name="description"/>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="illegal"/>
        <xs:attribute name="licence" type="xs:string"/>
        <xs:attribute name="name"/>
        <xs:attribute name="shortname"/>
        <xs:attribute name="size" type="xs:string"/>
        <xs:attribute name="specialist" type="xs:string"/>
        <xs:attribute name="tags" type="xs:string"/>
        <xs:attribute name="transport" type="xs:string"/>
        <xs:attribute name="volume" type="xs:integer"/>
        <xs:attribute name="ware" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="priceType">
        <xs:attribute name="average" use="required" type="xs:integer"/>
        <xs:attribute name="max" use="required" type="xs:integer"/>
        <xs:attribute name="min" use="required" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="productionType">
        <xs:sequence>
            <xs:element minOccurs="0" name="primary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ware" type="productionWareType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="secondary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ware" type="productionWareType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="effects" type="effectsType"/>
        </xs:sequence>
        <xs:attribute name="amount" use="required" type="xs:integer"/>
        <xs:attribute name="method" use="required" type="xs:string"/>
        <xs:attribute name="name" use="required" type="xs:string"/>
        <xs:attribute name="time" use="required" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="productionWareType">
        <xs:attribute name="ware" use="required" type="xs:string"/>
        <xs:attribute name="amount" use="required" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="effectsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="effect" type="effectType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="effectType">
        <xs:attribute name="product" use="required" type="xs:decimal"/>
        <xs:attribute name="type" use="required" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="iconType">
        <xs:attribute name="active" use="required" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="componentType">
        <xs:complexContent>
            <xs:extension base="referenceType">
                <xs:attribute name="amount" use="required" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="restrictionType">
        <xs:attribute name="sell" use="required" type="xs:decimal"/>
    </xs:complexType>
</xs:schema>
